H1 {
	font-family: Tahoma, Arial, sans-serif;
	color: white;
	background-color: #525D76;
	font-size: 22px;
}

H2 {
	font-family: Tahoma, Arial, sans-serif;
	color: white;
	background-color: #525D76;
	font-size: 16px;
}

H3 {
	font-family: Tahoma, Arial, sans-serif;
	color: white;
	background-color: #525D76;
	font-size: 14px;
}

BODY {
	font-family: Tahoma, Arial, sans-serif;
	color: black;
	background-color: white;
}

B {
	font-family: Tahoma, Arial, sans-serif;
	color: white;
	background-color: #525D76;
}

P {
	font-family: Tahoma, Arial, sans-serif;
	background: white;
	color: black;
	font-size: 12px;
}

A {
	color: black;
}

A.name {
	color: black;
}

.line {
	height: 1px;
	background-color: #525D76;
	border: none;
}

.center {
	text-align: center;
}



table {
	width: 100%;
	border: 1pt;
}


td.page-title {
	text-align: center;
	vertical-align: top;
	font-family: sans-serif, Tahoma, Arial;
	font-weight: bold;
	background: white;
	color: black;
}

td.title {
	text-align: left;
	vertical-align: top;
	font-family: sans-serif, Tahoma, Arial;
	font-style: italic;
	font-weight: bold;
	background: #6699ff;
}

td.header-left {
	text-align: left;
	vertical-align: top;
	font-family: sans-serif, Tahoma, Arial;
	font-weight: bold;
	background: #b3d7ff;
}

td.header-center {
	text-align: center;
	vertical-align: top;
	font-family: sans-serif, Tahoma, Arial;
	font-weight: bold;
	background: #b3d7ff;
}

td.row-left {
	text-align: left;
	vertical-align: middle;
	font-family: sans-serif, Tahoma, Arial;
	color: black;
}

td.row-center {
	text-align: center;
	vertical-align: middle;
	font-family: sans-serif, Tahoma, Arial;
	color: black;
}

td.row-right {
	text-align: right;
	vertical-align: middle;
	font-family: sans-serif, Tahoma, Arial;
	color: black;
}

td.mono {
	text-align: left;
	vertical-align: middle;
	font-family: monospace;
	color: black;
}

TH.mono {
	text-align: left;
	vertical-align: top;
	font-family: monospace;
	font-weight: bold;
	background: #b3d7ff;
	padding: 5px;
}

TH {
	text-align: center;
	vertical-align: top;
	font-family: sans-serif, Tahoma, Arial;
	font-weight: bold;
	background: #b3d7ff;
}

TD {
	text-align: center;
	vertical-align: middle;
	font-family: sans-serif, Tahoma, Arial;
	color: black;
	padding: 5px;
}

form {
	margin: 1;
}

form.inline {
	display: inline;
}