<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>curl Downloader Webapp</display-name>

	<servlet>
		<servlet-name>ControllerServlet</servlet-name>
		<servlet-class>de.jwi.curlmgr.ControllerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ControllerServlet</servlet-name>
		<url-pattern>/curl/*</url-pattern>
		<url-pattern>/curlapi/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>HTML Manager interface (for humans)</web-resource-name>
			<url-pattern>/curl/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>curl</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>HTML Manager API</web-resource-name>
			<url-pattern>/curlapi/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>curlapi</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>curl Manager Application</realm-name>
	</login-config>

	<security-role>
		<role-name>curl</role-name>
	</security-role>

	<security-role>
		<role-name>curlapi</role-name>
	</security-role>

	<welcome-file-list>
		<welcome-file>/curl</welcome-file>
	</welcome-file-list>

</web-app>
